*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.canvas
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.canvas.has-cursor-grab
{
    cursor: grab;
}

.canvas.has-cursor-grabbing
{
    cursor: grabbing;
}

.canvas.has-cursor-pointer
{
    cursor: pointer;
}

.threejs-journey
{
    /* display: none; */
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 420px;
    -webkit-user-select: none;
    user-select: none;
}

.threejs-journey.is-active
{
    display: flex;
}

.threejs-journey .message
{
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Comic Neue', cursive;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    /* opacity: 0;
    transform: translateY(120px); */
    transition: transform 0.5s cubic-bezier(0.5, 0, 0.25, 1), opacity 0.5s 0.2s cubic-bezier(0.5, 0, 0.25, 1);
}

.threejs-journey .message.is-visible
{
    opacity: 1;
}

.threejs-journey .message .bubble
{
    position: relative;
    padding: 20px 30px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    background: linear-gradient(#fdb572ab, #fdb5721a);
}